{% extends 'base.html' %}
{% block ct_m_block %}<li class="active">{% endblock %}
{% block head_block %}Command line - More para{% endblock %}

{% block body_block %}

<form action="" method="get">
  <strong>Server IP  : </strong>
  <select class="btn btn-default" name="s-ip">
    {% for ip in ip %}
      <option value="{{ ip }}">{{ ip }}</option>
    {% endfor %}
  </select>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <strong> Gerrit User : </strong>
  <select class="btn btn-default" name="g-user">
    {% for name in name %}
      <option value="{{ name.name }}">{{ name.name }}</option>
    {% endfor %}
  </select>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <strong>Gerrit Port : </strong>
  <select class="btn btn-default" name="g-port">
    {% for port in port %}
      <option value="{{ port.number }}">{{ port.number }}</option>
    {% endfor %}
  </select>

  <hr class="hr" /> 

  <strong>User Name : </strong>
  <input type="text" name="username" />

  <hr class="hr" /> 

  <div class="btn-group">
    <input type="submit" class="btn btn-default" name="ls" value="gerrit ls-groups"></input>
    <input type="submit" class="btn btn-default" name="ai" value="gerrit account-inactive"></input>
    <input type="submit" class="btn btn-default" name="kt" value="gerrit kill-session"></input>
  </div>

</form>

<hr class="hr" /> 

  {% autoescape off %}
    {{ shows | linebreaksbr }}
  {% endautoescape %}

{% endblock %}
